:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

div.image-pane {
  width: 30vw;
  height: 100vh;
}

div.image-pane img {
  width: auto;
  height: inherit;
}

div.content-pane {
  width: 70vw;
  background-color: blue;
}