body {
    display: flex;
    justify-content: stretch;
}

.imagePanel {
    flex: 1.2;
    background-color: green;
}
.contentPanel {
    flex: 2;
    background-color: #ededed;
    padding-left: 100px;
    padding-right: 50px;
    
    font-family: 'LucymarSansRegular', Arial, Helvetica, sans-serif;
}

p {
    font-size: 2rem;
}